.gitlab-notification-icon {
  background-image: -webkit-linear-gradient(#7aa1d3, #4078c0);
  background-image: linear-gradient(#7aa1d3, #4078c0);
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;
  display: block;
  width: 14px;
  height: 14px;
  color: #fff;
  text-align: center;
  background-clip: padding-box;
  border-radius: 50%;
  border: 2px solid #f3f3f3;
}

.gitlab-notification-motion-to-me {
  margin-top: 5px;
  margin-left: 10px;
}
